<head>
    <meta property="og:url"                content="https://eco-colocations.org" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Bienvenue dans le réseau des éco-colocations" />
    <meta property="og:description"        content="Ensemble, adoptons des modes de vie écolos, par des actions individuelles et en nous organisant collectivement !" />
    <meta property="og:image"              content="https://eco-colocations.org/images/eco-colocations-banniere-originale.jpg" />
</head>
<body>
<div style="text-align:right"><a href="https://gitlab.com/eco-colocations/eco-colocations.gitlab.io/">Éditer cette page</a></div>
<h1>Éco-colocations</h1>
<a href="https://www.facebook.com/groups/470511086490229/">Accéder au groupe fb</a>
<div style="text-align:center"><iframe width="100%" height="800px" src="https://eco-colocation.gogocarto.fr/"></iframe></div>

<div id="fb-feed">
<h3>Les dernières annonces publiés</h3>
<iframe width="100%" height="450px" src="https://feed.eugenemolotov.ru/?action=display&bridge=Facebook&context=Group&g=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F470511086490229%2F&limit=-1&format=Html" ></iframe>
</div>

<div id="mastodon-feed">
<h3>L'activité est répliquée sur Mastodon</h3>
<iframe allowfullscreen sandbox="allow-top-navigation allow-scripts" width="400" height="800" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fgroups.qoto.org%2Fusers%2Fecocolocations&theme=dark&size=100&header=true&replies=false&boosts=false"></iframe>
</div>

<h3>FAQ</h3>
<iframe width="100%" height="800px" src="https://pad.lamyne.org/WWE6vGt-QLmVZl--qCvLtQ"></iframe>
<a src="visios.html">visios</a>

<a href="https://rss-bridge.sans-nuage.fr/?action=display&bridge=Facebook&context=Group&g=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F470511086490229%2F&limit=-1&format=Html">rss-bridge</a>
</body>
