<h1>Posts de bienvenue</h1>

<h2>Est-il temps de faire un post de bienvenue dans l'un des groupes ?</h2>

<p>Si le dernier post de bienvenue dans l'un des groupes était il y a plus d'une semaine, allez-y !</p>

<iframe class="airtable-embed" src="https://airtable.com/embed/shrImq34vGOSWd9nU?backgroundColor=yellow&viewControls=on" frameborder="0" onmousewheel="" width="60%" height="233" style="background: transparent; border: 1px solid #ccc;"></iframe>

<p>Une fois que vous aurez fait un post de bienvenue, <a href="https://airtable.com/shr48AKvdjMtfYuSF">Référencez-le via ce formulaire</a></p>

<h3>Comment faire un post de bienvenue ?</h3>

<p>Sur PC, accédez à la section "Membres" du groupe. En haut à droite, vous verrez un bouton "Écrire un post de bienvenue".</p>
<p>Si le nombre de nouveaux membres est supérieur à 50, vous devrez retirer des mentions de membres.</p>

<p>Voici un <a href="https://pad.lamyne.org/zfxNy8ukQI-SKp5r4LhG-Q?view">exemple de post de bienvenue</a> (a adapter si vous le souhaitez)</p>

<p>Enfin, copiez-collez le lien suivant dans le post (puis retirez-le) : <a href="https://www.facebook.com/groups/470511086490229/permalink/1527448597463134/">https://www.facebook.com/groups/470511086490229/permalink/1527448597463134/</a></p>
<p>Ça a pour effet de mettre le post avec les groupes régionaux en vignette (en aperçu) en bas du post.</p>

<p>Merci pour ce coup de main !</p>

<!-- répétition -->
<p>Une fois que vous aurez fait un post de bienvenue, <a href="https://airtable.com/shr48AKvdjMtfYuSF">Référencez-le via ce formulaire</a></p>
<!-- /répétition -->