<h1>Demander si l'annonce est résolue</h1>
<p>Un script va collecter les infos sur les posts et les rendre visibles ici :</p>

<iframe class="airtable-embed" src="https://airtable.com/embed/shre0nctdSaDfBpK8?backgroundColor=yellow&viewControls=on" frameborder="0" onmousewheel="" width="60%" height="333" style="background: transparent; border: 1px solid #ccc;"></iframe>

<p>Demandez en commentaire si les colocs ont trouvé</p>

<p>Puis mettez à jour la ligne dans la base (cochez que c'est résolu) <a href="https://airtable.com/tblqN9XWvfvfKr8ll/viwRuBfTAtADmheyn?blocks=hide">directement dans Airtable</a> (demandez les accès à Jibé)</p>

<p>Merci !</p>